.heading{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

.note{
    font-size: 15px;
    text-emphasis-color: black;
}

body{
    background-size: cover;
}

canvas{
    background-color: #FFFF;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
}